
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;

}

h1 {
  font-size: 5.625rem;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  color: #0f4c75;
  line-height: 1;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  color: #ed6663;
}

h3 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
    line-height: 1.5;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #d9adad;
}

.top-container {
  background-color: #b0cac7;
  padding-top: 100px;
}

.middle-container {
    margin: 100px 0;

}

 .bottom-container {
   background-color: #84a9ac;
   padding: 50px 0 20px;

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profilepic {
width: 15%;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.lightsaber {
  width: 35%;
  float: left;
  margin-right: 30px;

}

.pulpfiction {
  width: 45%;
  float: right;
  margin-left: 30px;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#599bb3;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:14px 21px;
	text-decoration:none;
	text-shadow:0px 0px 0px #3d768a;
}
.btn:hover {
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}

.copyright {
  color: #4b5d67;
  font-size: 0.75rem;
  padding: 20px 0;
}
